#modal_reload.reveal-modal.small{"data-options" => "close_on_background_click:true; animation:fade;", "data-reveal" => ""}
  .success-message.alert-box.success{"data-alert" => ""}
    %p Admin page will now reload to reflect latest data.
  %a.close-reveal-modal &#215;
