#modal_success.reveal-modal.small{"data-options" => "close_on_background_click:true; animation:fade;", "data-reveal" => ""}
  .view-container
    .row.small-collapse
      .column.small-12
        .success-message.alert-box{"data-alert" => ""}
          .title Thank You
          %p Your product request has been sent to Interface.

          .title Questions about your order?
          %ul.help-index
            %li
              %a.call{:href => "tel:8887237865"}
                %span.icon
                %span 888.723.7865

            %li
              %a.email{:href => "mailto:specials@interface.com"}
                %span.icon
                %span specials@interface.com



  %a.close-reveal-modal &#215;
