#modal_welcomeRadstock.reveal-modal.small{"data-options" => "close_on_background_click:true; animation:fade;", "data-reveal" => ""}
  .view-container
    .row.small-collapse
      .column.small-12
        .alert-box{"data-alert" => ""}
          .title Welcome Radstock User!
          %p Interface Carpet Specials is now the home of Radstock.
          %a.button.tiny{:href => "/"} Continue

  %a.close-reveal-modal &#215;
