
- 12.times do
  %li.product-item
    .figure
      %img.tile{:src => "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&wid=306&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/7078001999G15S001_custom_custom-254983-001}"}

      .slide-panel
        .data
          %h6.title Head Over Heels Custom
          %ul.meta
            %li 1512.94 yd² Available

          .controls
            %a.button.tiny{:href => "#"} Request
            %a.button.tiny{:href => "#"} Sample
            %a.button.tiny{:href => "#"} Details

