:javascript
  window.templateProduct = {

    "1204013999G15S001" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    },
    "1204013999G15S002" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    },
    "1204013999G15S003" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    },
    "1204013999G15S004" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    },
    "1204013999G15S005" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    },
    "1204013999G15S006" : {
      "product": {
        "colorName": "Custom",
        "colorNumber": "179170",
        "install": "05",
        "installLabel": "Quarter-Turn",
        "lot": "1Z1508.5",
        "name": "Flannel",
        "quantity": 348.04,
        "price": 14,
        "warranty": false,
        "size": "5B",
        "sizeLabel": "50 cm x 50 cm"
      },

      "source": {
        "e1": "1204013999G15S001",
        "color": "CUSTOM 255114 022.17",
        "pds": "255114",
        "thirdItem": "371002500.179170.7S",
        "yarnWeight": 24,
        "colorFamily": "GREY 3"
      },

      "img": {

        "config": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/install_05_5B?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022",
        },

        "scene": {
          "baseURL": "http://interfaceinc.scene7.com/ir/render/InterfaceIncRender/us_corridor?&resmode=sharp2&qlt=80,1&obj=main&res=45.72&sharp=1&src=is{InterfaceInc/install_05_5B_room?$tile=InterfaceInc/1204013999G15S001_flannel_custom-255114-022}",
        },

        "tile": {
          "baseURL": "http://media.interface.com/is/image/InterfaceInc/1204013999G15S001_flannel_custom-255114-022_va1"
        }
      },

      "color": {
        "DarkMuted": {
          "hsl": [
            0.10952380952380952,
            0.2755905511811023,
            0.24901960784313726
          ],
          "population": 1371,
          "rgb": [
            81,
            69,
            46
          ]
        },
        "DarkVibrant": {
          "hsl": [
            0.10648148148148147,
            0.48648648648648646,
            0.5
          ],
          "population": 599,
          "rgb": [
            55,
            42,
            19
          ]
        },
        "LightVibrant": {
          "hsl": [
            0.1111111111111111,
            0.40677966101694923,
            0.7686274509803922
          ],
          "population": 1,
          "rgb": [
            220,
            204,
            172
          ]
        },
        "Muted": {
          "hsl": [
            0.10526315789473682,
            0.2209302325581396,
            0.6627450980392158
          ],
          "population": 671,
          "rgb": [
            188,
            174,
            150
          ]
        },
        "Vibrant": {
          "population": 0,
          "rgb": [
            189.527027027027,
            144.7297297297297,
            65.47297297297298
          ]
        }
      }
    }

  }
